<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/condologo"
        android:label="@string/condo_connect"
        android:roundIcon="@drawable/condologo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CondoConnectMobile"
        tools:targetApi="31">
        <activity
            android:name=".EditarAgendamentoActivity"
            android:exported="false" />
        <activity
            android:name=".IncluirAgendamentoActivity"
            android:exported="false" />
        <activity
            android:name=".AgendamentoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ListagemAgendamentoActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ContatoActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".agendamento.AgendamentoActivity"
            android:exported="false" />
        <activity
            android:name=".agendamento.DetalhesAgendamentoActivity"
            android:exported="false" />
        <activity
            android:name=".agendamento.IncluirAgendamentoActivity"
            android:exported="false" />
        <activity
            android:name=".IncluirProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".EditarProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".ListagemActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NavigationDrawerButtomNavigationBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
    </application>

</manifest>